# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Сборка каталогов и зависимостей
_build/
vendor/
Godeps/

# Каталоги и файлы IDE
.idea/
*.iml

# Кэш
*.out

# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo

# Дамп сессии
*.dump

# Отладочные файлы
*.prof

# Общие файлы конфигурации
.env